body {
    margin: 40px auto;
    max-width: 950px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: Georgia, serif;
}

h1,h2,h3 {
    line-height: 1.2;
}

pre {
    overflow: auto;
    max-height: 300px;
}

code, pre {
    background: #eee;
    font-family: monospace;
}

blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;

    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;

    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/

    font-size: 60px;
    font-weight: bold;
    color: #999;

    position: absolute;
    left: 10px;
    top:5px;
}

blockquote em {
    font-style: italic;
}

a.anchor[href]::before {
  content: "\1F517";
  padding-right: 10px;
}

